<%= form_tag  '/products/line_items_post' do %>

<div class="entry">
  <table>

    <tr>
      <td>
    Job Products
      </td>
      <td>

       <%=  select_tag :job , options_for_select(@product_vm.job_products.map(&:description) )
                  %>

      </td>


      <td>
        <%= submit_tag 'Add to Cart', :name => 'jobclick',remote:true  %>

      </td>
    </tr>


    <tr>
      <td>
        Subscription Products
      </td>
      <td>
        <%=  select_tag :sub_job , options_for_select(@product_vm.subscription_products.map(&:description),@selected_product)%>

      </td>


      <td>
        <%= submit_tag  'Add to Cart', :name => 'subclick',remote:true  %>
      </td>
    </tr>


  </table>
 </div>

<% end %>