<!DOCTYPE html>
<html>
<head>
  <title>Nexus</title>


  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= image_tag("cb.png") %>
  <%= image_tag("nexus.png", :align => "right") %>

</head>
<body class="<%= controller.controller_name %>">

<!-- START_HIGHLIGHT -->
<div id="banner">

  <%=   'Order Entry' %><!-- <label id="code.depot.e.title"/> -->
</div>
<div id="columns">
  <div id="side">
    <div id="cart">
      <% if @cart  %>
      <%= render @cart %>
          <%end %>
    </div>



  </div>
  <div id="main">
    <!-- END_HIGHLIGHT -->
    <%= yield %><!-- <label id="code.depot.e.include"/> -->
    <!-- START_HIGHLIGHT -->
  </div>
</div>
<!-- END_HIGHLIGHT -->
</body>
</html>

